@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
} 

body {
    font-family: 'Poppins', sans-serif;
} 

button {
    width: 100%;
}

.logo  {

    color: #ffffff;
    font-size: 51px;
    position: fixed;
    font-weight: 1000;
    width: 100%;
    transition: 2.5s;
    padding: 0px 6px;
    block-size: 67.5px;
    margin: -11px 0;
    z-index: 1000;

}

.moriase {
    display: flex;
    margin-left: -1px;
    margin-right: -1px;
    flex-wrap: wrap;
    flex: 50%;
}

.build {
    flex: 16%;
    padding: 1px;
}

.build button {
    margin-top: 0px;
}

@media  (max-width: 768px) {
    button {
        width: 100%;
    }
     .build {
         flex: 50%;
     }
 
     .logo {
         font-size: 30px;
         padding: 0px 2px;
         block-size: 41px;
         margin: -5px 0;
     }
 
     .ap {
         display: flex;
         font-size: small;
         block-size: 1px;
         margin: -10px;
     }

     .ap36 {
        position: absolute;
        width: 50%;
        z-index: 1000;
    }
 }

 @media  (max-width: 425px) {
     .ap36 {
        right: 0%;
        width: 100%;
        z-index: 1000;
    }
}



header.abajo {
    background: #ffffff;
    padding: 0px 0px;
}

header.abajo .logo {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.938);
}

.zuley {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.zuley a {
    margin: 15px 0px 15px 0px;
    position: relative;
    display: inline-block;
    padding: 5px 50px;
    border: 2px solid #ff0000;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: #000000;
    -webkit-box-reflect: below 0px linear-gradient 
    (transparent, #ff0095);
    transition: 0.5s;
    transition-delay: 0s;
} 

.zuley a:hover {
    transition-delay: 0.5s;
    color: rgb(255, 0, 0);
    box-shadow: 0 0 10px rgb(255, 0, 0),
    0 0 20px rgb(0, 0, 0),
    0 0 40px rgb(0, 0, 0),
    0 0 80px rgb(0, 0, 0),
    0 0 160px rgb(0, 0, 0);

}

.zuley a span {
    position: relative;
    z-index: 100;
}

.zuley a:nth-child(2) {
    filter: hue-rotate(80dg);
}

.zuley a::before {
    content: '';
    position: absolute;
    left: -100px;
    top: 50%;
    transform: translateY(-48%);
    width: 100px;
    height: 2px;
    background: #000000;
    box-shadow: 15px -8px 0 #000000,
                15px 8px 0 #000000;
    transition: width 0.6s, left 0.6s, height 0.6s, 
    box-shadow 0.6s;
    
}

.zuley a:hover::before {
    width: 60%;
    height: 119%;
    left: -2px;
    box-shadow: -7px 0 0 #000000,
                -7px 0 0 #000000;
    
}


.zuley a::after {
    content: '';
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-48%);
    width: 100px;
    height: 2px;
    background: #000000;
    box-shadow: -15px -8px 0 #000000,
                -15px 8px 0 #000000;
    transition: width 0.6s, left 0.6s, height 0.6s, 
    box-shadow 0.5s;
   
}

.zuley a:hover::after {
    width: 60%;
    height: 119%;
    right: -2px;
    box-shadow: 7px 0 0 rgb(0, 0, 0),
                7px 0 0 rgb(0, 0, 0);
  
}

.zuley.zuley a:hover::after {
    transition: 0.5s;
}

.zuley.zuley a::after {
    transition: 0.5s;
}




@media  (max-width: 375px) {
    .zuley a {
        margin: 15px 0px 15px 0px;
        position: relative;
        display: inline-block;
        padding: 1px 45px;
        border: 2px solid #ff0000;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 2px;
        color: #000000;
        -webkit-box-reflect: below 0px linear-gradient 
        (transparent, #ff0095);
        transition: 0.5s;
        transition-delay: 0s;
    } 
    
    .zuley a:hover {
        transition-delay: 0.5s;
        color: rgb(255, 0, 0);
        box-shadow: 0 0 10px rgb(255, 0, 0),
        0 0 20px rgb(0, 0, 0),
        0 0 40px rgb(0, 0, 0),
        0 0 80px rgb(0, 0, 0),
        0 0 160px rgb(0, 0, 0);
    
    }
    
    .zuley a span {
        position: relative;
        z-index: 100;
    }
    
    .zuley a:nth-child(2) {
        filter: hue-rotate(80dg);
    }
    
    .zuley a::before {
        content: '';
        position: absolute;
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 2px;
        background: #000000;
        box-shadow: 15px -8px 0 #000000,
                    15px 8px 0 #000000;
        transition: width 0.6s, left 0.6s, height 0.6s, 
        box-shadow 0.6s;
        
    }
    
    .zuley a:hover::before {
        width: 107%;
        height: 120%;
        left: -2px;
        box-shadow: -7px 0 0 #000000,
                    -7px 0 0 #000000;
        
    }
    
    
    .zuley a::after {
        content: '';
        position: absolute;
        right: -60px;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 2px;
        background: #000000;
        box-shadow: -15px -8px 0 #000000,
                    -15px 8px 0 #000000;
        transition: width 0.6s, left 0.6s, height 0.6s, 
        box-shadow 0.5s;
       
    }
    
    .zuley a:hover::after {
        width: 107%;
        height: 120%;
        right: -2px;
        box-shadow: 1px 0 0 rgb(0, 0, 0),
                    1px 0 0 rgb(0, 0, 0);
      
    }



}
 
 
 
 

 .vanessa-veronica,.sara,.liss,.alejandra,.gemma2,
 .bella,.liora,.bllblue,.wemd,.gemma1,.cenett,
 .aracelis2,.jade,.nio,.avelline,.lucia,.jaysis,.eva1 {
     
     background-size: cover;
     background-repeat: no-repeat;
     padding: 61% 1%;
     border-color: #ffffff;
     color: #fff;
     text-transform: uppercase;
     font-style: italic;
     font-weight: 1000;
 }
 

 .vanessa-veronica {
     background-image: url(images/vanessa-veronica.jpg);
 }
 .vanessa-veronica:hover {
     color: red;
 }
 


 .sara {
    background-image: url(images/sara.jpg);
}
.sara:hover {
    color: red;
}



.liss {
    background-image: url(images/liss.jpg);
}
.liss:hover {
    color: red;
}



 .alejandra {
     background-image: url(images/alejandra.jpg);
 }
 .alejandra:hover {
     color: red;
 }



.gemma2 {
    background-image: url(images/gemma2.jpg);
}
.gemma2:hover {
    color: red;
}


.bella {
    background-image: url(images/bella.jpg);
}
.bella:hover {
    color: red;
}



.liora {
    background-image: url(images/liora.jpg);
}
.liora:hover {
    color: red;
}



.bllblue {
    background-image: url(images/bllblue.jpg);
}
.bllblue:hover {
    color: red;
}



.wemd {
    background-image: url(images/wemd.jpg);
}
.wemd:hover {
    color: red;
}



.gemma1 {
    background-image: url(images/gemma1.jpg);
}
.gemma1:hover {
    color: red;
}



.cenett {
    background-image: url(images/cenett.jpg);
}
.cenett:hover {
    color: red;
}



.aracelis2 {
    background-image: url(images/aracelis2.jpg);
}
.aracelis2:hover {
    color: red;
}



.jade {
    background-image: url(images/jade.jpg);
}
.jade:hover {
    color: red;
}



.nio {
    background-image: url(images/nio.jpg);
}
.nio:hover {
    color: red;
}




.avelline {
    background-image: url(images/avelline.jpg);
}
.avelline:hover {
    color: red;
}



.lucia {
    background-image: url(images/lucia.jpg);
}
.lucia:hover {
    color: red;
}



.jaysis {
    background-image: url(images/jaysis.jpg);
}
.jaysis:hover {
    color: red;
}


.eva1 {
    background-image: url(images/eva1.jpg);
}
.eva1:hover {
    color: red;
}




.aurora,.melissa,.miriam,.andrea,.elysia,
.aracelis1,.cloe,.jazmin,.eva2,.gwen {
    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 83% 1%;
    border-color: #ffffff;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 1000;
}


.aurora {
    background-image: url(images/aurora.jpg);
}
.aurora:hover {
    color: red;
}



.melissa {
    background-image: url(images/melissa.jpg);
}
.melissa:hover {
    color: red;
}


.miriam {
    background-image: url(images/miriam.jpg);
}
.miriam:hover {
    color: red;
}


.andrea {
    background-image: url(images/andrea.jpg);
}
.andrea:hover {
    color: red;
}


.elysia {
    background-image: url(images/elysia.jpg);
}
.elysia:hover {
    color: red;
}



.aracelis1 {
    background-image: url(images/aracelis1.jpg);
}
.aracelis1:hover {
    color: red;
}


.cloe {
    background-image: url(images/cloe.jpg);
}
.cloe:hover {
    color: red;
}



.jazmin {
    background-image: url(images/jazmin.jpg);
}
.jazmin:hover {
    color: red;
}



.eva2 {
    background-image: url(images/eva2.jpg);
}
.eva2:hover {
    color: red;
}



.gwen {
    background-image: url(images/gwen.jpg);
}
.gwen:hover {
    color: red;
}




.natasha,.nellie {
    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 93% 1%;
    border-color: #ffffff;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 1000;
}




.natasha {
    background-image: url(images/natasha.jpg);
}
.natasha:hover {
    color: red;
}




.nellie {
    background-image: url(images/nellie.jpg);
}
.nellie:hover {
    color: red;
}




.riley,.ingrid,.rhian,.sofy {
    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 71% 1%;
    border-color: #ffffff;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 1000;
}




.riley {
    background-image: url(images/riley.jpg);
}
.riley:hover {
    color: red;
}



.ingrid {
    background-image: url(images/ingrid.jpg);
}
.ingrid:hover {
    color: red;
}




.rhian {
    background-image: url(images/rhian.jpg);
}
.rhian:hover {
    color: red;
}




.sofy {
    background-image: url(images/sofy.jpg);
}
.sofy:hover {
    color: red;
}





.ana,.meri {
    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 35% 1%;
    border-color: #ffffff;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 1000;
}





.ana {
    background-image: url(images/ana.jpg);
}
.ana:hover {
    color: red;
}




.meri {
    background-image: url(images/meri.jpg);
}
.meri:hover {
    color: red;
}




.marbez,.linett1,.linett2,.eliette {
    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 62% 1%;
    border-color: #ffffff;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 1000;
}





.marbez {
    background-image: url(images/marbez.jpg);
}
.marbez:hover {
    color: red;
}




.linett1 {
    background-image: url(images/linett1.jpg);
}
.linett1:hover {
    color: red;
}



.linett2 {
    background-image: url(images/linett2.jpg);
}
.linett2:hover {
    color: red;
}




.eliette {
    background-image: url(images/eliette.jpg);
}
.eliette:hover {
    color: red;
}


